.box{
display: flex;
align-items: flex-end;
z-index: 1;
position: relative;
box-sizing: border-box;
/* background-color: aqua; */

}

.box1title{

position: relative;
right: 450px;
color:white;
bottom: 40px;
z-index: 3;

}
.boxinvisible{
    background-color: rgba(128, 0, 128, 0.5);
    position: absolute;
   width: 480px;
   height: 360px;
    z-index: 2;

}


h2{margin: 0;}
p{margin: 0;}