.boxcha{
    display:flex ;
    
   justify-content: center;
   align-items: center;

}
.box {
    width: 6px;
    height: 40px;
   margin: 4px;

    background-color:orange;
    /* transform: rotateX(360deg); */

    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
/* lap */
}
.box1{position:absolute
    width: 6px;
    height: 40px;
   margin: 4px;
 background-color:orange;}
 
.box2{position:absolute
    width: 6px;
    height: 40px;
   margin: 4px;

    background-color:orange;}
.box3{position:absolute
    width: 6px;
    height: 40px;
   margin: 4px;

    background-color:orange;}
.box4{position:absolute
    width: 6px;
    height: 40px;
   margin: 4px;

    background-color:orange;}
.box5{position:absolute
    width: 6px;
    height: 40px;
   margin: 4px;

    background-color:orange;}



@keyframes example {
    0% { transform: rotateX(0deg);}
    25%{transform: rotatex(90deg);}
    50% { transform: rotatey(0deg);}  
    75%{transform: rotatey(90deg);} 
    
    }