   * {
       margin: 0;
       padding: 0;

   }

   ul {
       list-style: none;
   }

   a {
       text-decoration: none;
   }

   #warpper {
       display: flex;
       justify-content: center;
    
   }

   ul.list-person {
       display: flex;
       

   }

   ul.list-person li {
       max-width: 524px;
       overflow: hidden;  /* an zom*/

   }


   ul.list-person li a img {
    display: block; 
    max-width: 100%;
    transition:  all 0.3s ease-in-out; 
       transform: scale(1.3);     
   }
   ul.list-person li a{
    position: relative;
    display: block;
   }

   ul.list-person li:hover img {
       /* transform: scale(1.1); */
       opacity: 0.8;
    
       padding-left: 10%;
       /* muốn kéo ngang thì phải scale zoom hình rồi mới pading  */
}
ul.list-person li a .name{


    color:white;
    font-weight: bold;
    /* letter-spacing: 2px; */
    text-transform: uppercase;
    /* in hoa */
font-size: 20px;
    /* bottom: 0px; */
    /* right: 50%; */
    /* padding-left: 30px; */
    /* transform:translateX(-100%); */
    transition: all 0.3s ease-in-out;
    /* opacity: 0; */

    background-color: rgba(128, 0, 128, 0.5);
    position: absolute;
   width: 1000px;
   height: 1000px;
   transition: all 0.5s;
}

ul.list-person li:hover .name{
    bottom:0% ;
    opacity: 1;
}
p{
    font-size: 10px;

}
   /* https://tympanus.net/Development/HoverEffectIdeas/ */
