*{@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;1,100&display=swap');}
*{font-family: 'Roboto', sans-serif;}

.box0 {
  height: 100px;
  width: 600px;
  color: black;



}

.box1 {
  height: 40px;
  width: 100px;
  color: orangered;

  margin-left: 60px;
  float: left;

  font-size: 40px;
}

.box2 {
  height: 40px;
  width: 100px;
  color: black;
  font-size: 17px;
  margin-left: 60px;

  float: left;
}